.container{
    width: 300px;
    border: 15px solid gray;
    padding: 50px;
    margin: 20px;
    display: flex;
    justify-content: center;
    box-shadow: 10px 5px 5px yellow;
}

#btn-div{
    display: flex;
    justify-content: center;
    width: 300px;
    border: 15px solid gray;
    padding: 50px;
    margin: 20px;
    box-shadow: 10px 5px 5px red;
}
#result{ 
    display: flex;
    justify-content: center;
    width: 300px;
    border: 15px solid gray;
    padding: 50px;
    margin: 20px;
    box-shadow: 10px 5px 5px green;
}

